<template>
    <v-row>
        <v-col cols="12" class="d-flex justify-center">
            <v-card elevation="10" width="400px" class="mt-16">
                <v-card-title class="pa-6">Signup Form</v-card-title>
                <v-card-text class="pa-6 pt-0">
                    <v-alert v-if="message" type="success">{{ message }}</v-alert>
                    <v-form ref="registerForm" @submit.prevent="submit" v-else>
                        <v-row>
                            <v-col cols="12">
                                <v-text-field v-model="form.name" @input="resetValidation('name')" maxlength="64"
                                              :error-messages="errors.name" label="Full Name" filled/>
                            </v-col>
                            <v-col cols="12">
                                <CountryInput v-model="form.country" :errors="errors.country"
                                              @input="format('country')"/>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field label="Phone number" filled v-model="form.phone" maxlength="32"
                                              :error-messages="errors.phone" @input="format('phone')">
                                    <span slot="prepend-inner" v-if="form.country">{{ form.country.idd }}</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field v-model="form.email" @input="resetValidation('email')"
                                              :error-messages="errors.email" label="E-mail" filled/>
                            </v-col>
                            <v-spacer></v-spacer>
                            <v-col class="d-flex justify-end" cols="12">
                                <v-btn :loading="loading" color="success" type="submit">
                                    Signup
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import { signup } from '../helpers/api/auth'
import { parsePhoneNumber } from 'awesome-phonenumber'

import CountryInput from './inputs/CountryInput'

export default {
    components: {CountryInput},
    data: () => ({
        form: {
            name: '',
            email: '',
            country: 'Israel',
            phone: ''
        },
        errors: {
            name: [],
            email: [],
            phone: []
        },
        loading: false,
        message: null,
    }),
    methods: {
        submit() {
            this.loading = true

            signup(this.formData).then(({data}) => {
                this.message = data.message
            }).catch(({errors, message}) => {
                this.errors = errors || {}
                this.message = message || ''
            }).finally(() => {
                this.loading = false
            })
        },
        resetValidation(key) {
            this.errors[key] = []
        },
        format(source) {
            const phone = parsePhoneNumber(this.fullPhone)

            if (phone.valid) {
                this.form.phone = phone.number.national.replace(/^0/, '')
            }
            this.resetValidation(source)
        }
    },
    computed: {
        fullPhone() {
            return this.form.country?.idd + this.form.phone
        },
        formData() {
            return {
                ...this.form,
                phone: this.fullPhone
            }
        },
    },
}
</script>

<style lang="scss">
.col:not(:last-child) {
    padding-top: 0;
    padding-bottom: 0;
}

.v-application--is-ltr .v-text-field .v-input__prepend-inner {
    margin-top: 20px;
    padding-right: 10px;
}
</style>
