<template>
    <v-autocomplete label="Country" v-model="state" filled :error-messages="errors"
                    item-text="name" item-value="name" :items="countries">
        <template v-slot:selection="data">
            <span class="text-h5" v-html="data.item.flag"/>
            <span class="ml-2" v-html="data.item.name"/>
        </template>
        <template v-slot:item="data">
            <span class="text-h5" v-html="data.item.flag"/>
            <span class="ml-2" v-html="data.item.name"/>
        </template>
    </v-autocomplete>
</template>

<script>
import { getCountries } from '../../helpers/api/data'

export default {
    name: 'CountryInput',
    props: ['value', 'errors'],
    data: () => ({
        countries: [],
        state: null
    }),
    methods: {
        fetchCountries() {
            getCountries().then((e) => {
                this.countries = e.data
                this.state = this.value
            })
        }
    },
    mounted() {
        this.fetchCountries()
    },
    watch: {
        state() {
            const selectedCountry = this.countries.filter((e) => e.name === this.state).shift()
            this.$emit('input', selectedCountry)
        }
    }
}
</script>
